numpy  # Fundamental package for scientific computing with multi-dimensional arrays
scipy  # Scientific computing library with modules for optimization, linear algebra, integration, etc.
pandas  # Data analysis and manipulation library with DataFrame structure
matplotlib  # Comprehensive visualization library for creating static, animated, and interactive plots
h5py  # Interface to the HDF5 binary data format for storing large numerical datasets
scikit-learn  # Machine learning library with tools for classification, regression, clustering, etc.
ipywidgets  # Interactive HTML widgets for Jupyter notebooks
jupyterlab  # Web-based interactive development environment for notebooks, code, and data
datajoint  # Framework for scientific data pipelines with relational database support
kilosort==4.0.22  # Tool for spike sorting of neural recordings
pymatreader  # Library for reading MATLAB MAT files in Python
medicine-neuro==1.6  # Motion estimation for neurophysiology data
spikeinterface[full,widgets]==0.103.0 # Suite of tools for spike sorting
# TODO: extract some library into separate requirements file